*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}

.container{
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea{
    width:100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}

fieldset{
    background-color: #f2f2f2;
    border: 1px solid #ccc;
}

.main_heading{
    text-align: center;;
}

input[type="submit"]{
     background-color: #4daea1;
     padding:12px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     color:white;
     width: 100%;
}



h1{
    transition: background-color 2s, border-radius 2s;
    animation: flow 2s infinite;
    animation-direction: alternate;
}
h1:hover{
    background-color: #4daea1;
    border-radius: 50%;
    

}


@keyframes flow {
    0% {margin-left: 3rem;
        box-shadow: 1px 5px 8px 0px #b3a6a6;
        background-color: #8dbdb6;
        border-radius: 50%; 
        color: rgb(81, 79, 79);
    }
    75% {
        box-shadow: 1px 5px 8px 0px #b3a6a6;
        background-color: #78d4c5;
        border-radius: none;
        border: none;
    color: rgb(9, 66, 96);
    }
  
        100%{margin-right: 6rem;
            box-shadow: 1px 5px 8px 0px #b3a6a6;
        background-color: rgb(36, 210, 163);
        border-radius: 50%;
        color: rgb(117, 102, 39);
        }
}

input[type="submit"]{
    transition: background-color 4s,  width  1s, border-radius 2s, text-align 1s ;
    animation-direction: alternate;
    animation: btn1 4s infinite;
    font-size: 22px;
    font-weight: bold;
}

input[type="submit"]:hover{
    background-color: #2aa0c4;
    border-radius: 50%;
    box-shadow: -4px 20px 20px 5px #60716e;

}

@keyframes btn1 {
    0% {
        background-color: #20c7ffc9;
        color: #fc2779;
    }
    25% {background-color: #ca3c9f;
    color: #4daea1;
    }

    50% {background-color: black;
    color: #f2f2f2;
    }
    100% {
        background-color: #fc2779;
        color: #000000;
    }
}